body { font-family: "Palatino", "Georgia", serif; font-size: 18px; line-height: 1.8rem; }
pre,code,tt { font-family: ui-monospace, monospace; font-size: 0.9em; }
h1,h2,h3,h4,h5,h6 { font-weight: 400; }
h2,h3,h4,h5,h6 { font-style: italic; }
a:visited { color: LinkText; }
p,figure,ul,ol,dl,table { margin: 0 0 2rem; }
li > ul, li > ol { margin: 0; }
img { max-width: 100%; }
figure { text-align: center; }
p,figcaption { text-align: justify; }
@media screen and (min-width: 1024px) {
    body { margin: 2rem 0 4rem 12.5%; width: 87.5%; }
    ul,ol,dl,table,figure { width: 87.5%; }
    p,figure { width: 50%; }
    figure:has(.note) figcaption { float: right; clear: right; width: 75%; margin-right: -80%; position: relative; }
    figure:has(.aside) { float: right; clear: right; width: 27.5%; margin-right: 12.5%; position: relative; }
    figure:has(.full) { width: 87.5%; }    
    figure:has(.full) figcaption { text-align: match-parent; float: none; clear: unset; width: unset; margin: unset; }
}
